*.bak
pcb/plaid.step
*.wrl
*.ai
pcb/plaid-cache.lib
pcb/dxf/
pcb/dxf_2/
pcb/gerber/
pcb/gerber_bottom/
pcb/plaid.xml
*.kicad_pcb-bak
pcb/plaid.csv
pcb/gerver_plaid.zip
pcb/gerber_plaid_bottom.zip
pcb/svg/
pcb/past_gerber/
pcb/plaid_nowire.kicad_pcb
pcb/説明書/
docsrc/
doc/img/raw/
pcb/plate_and_cover.dwg
pcb/plate.dwg
*.cmp
*.csv#
*.ini
*.net
